.appointment-booking-layer{
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

}
.booking-section-title{
    display: inline-block;
    width: 100%;
    max-width: 770px;
    margin-top: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color:#fff;
    .section-title{
        font-size: 36px;
        font-weight: 800;
        line-height: 1.25em;
    }
    .section-content{
        font-size: 20px;
        line-height: 1.6em;
        padding-bottom: 48px;
    }

}
.calander{
    display: block;
    height: 100%;
    max-height: 501px;
    width: 100%;
    max-width: 570px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding-bottom: 80px;
}