body, html {
        height: 100%;
        margin: 0;
        font-family: 'Nunito Sans', sans-serif;
        .banner {
            background: url("../images/banner.png") no-repeat center center ;
            position: relative;
            width: 1920px;
            height: 1008px;
        }
        .banner-layer{
          background-color: rgba(0, 0, 0, 0.16);
        }
      }
      
 
