.call-to-action{
    height: 412px;
    width: 1920px;
    background: url("./../../images/background.png") no-repeat center center;
    position: relative;
    margin-top: 893px;
}
.layer{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 412px;
    z-index: 1;
    .content{
        font-family: 'Nunito Sans', sans-serif;
        position: absolute;
        width: 770px;
        height: 212px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: rgba(255, 255, 255, 1);
        h2{
            text-align: center;
        }
        p{
            text-align: center;
            margin-top: 8px;
        }
        .primary-button{
            margin-left: 226px;
            height: 48px;
            width: 148px;
        }
        .success-button{
            margin-left: 16px;
            height: 48px;
            width: 160px;
        }

    }
}
