.cta-text-section{
    background-color: rgba(0, 123, 255, 1);
    color: #fff;
    .cta-text-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .heading{
            font-size: 30px;
            line-height: 1.25em;
            font-weight: 600;
            margin-top: 48px;
        }
        .content{
            font-size: 20px;
            line-height: 1.6em;
            margin-top: 8px;
            padding-bottom: 48px;
        }
        a{
            display: block;
            
        }
    }

}
@media only screen and (max-width: 905px){
    .cta-text-section{
        .cta-text-container{
            .cta-text-box-item-a{
                padding-bottom: 48px;
            }   
        }
    }
}