.featured-on-section{
    // height: 308px;
    background-color: rgba(247, 249, 255, 1);

    .featured-heading{  
        margin-top: 80px;
        position: relative;
        margin-left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 800;
        line-height: 1.3;
        display: inline-block;
        &::after{
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 30px;
            height: 2px;
            width: 80px;
            background: #007bff;
            display: block;
        }
    }
    .featured-on-section-container{
        // position: absolute; doing this gives error dont know why
        display: flex;
        gap: 48px;
        text-align: center;
        padding-bottom: 69px;
        // left: 50%;
        // transform: translateX(-50%);

        .box-item-1{
            margin-top: 78px;
        }
        .box-item-2{
            margin-top: 81px;
        }
        .box-item-3{
            margin-top: 89px;

        }
        .box-item-4{
            margin-top: 66px;
            padding-bottom: 75.9px;

        }
        .box-item-5{
            margin-top: 69px;

        }
        .box-item-6{
            margin-top: 83px;

        }
    }
}




@media only screen and (max-width:  1220px) and (min-width: 797px){

        
    .box-item{
        margin-left: 68px;
    }


}
@media only screen and (max-width:  798px) and (min-width: 515px){

        
    .box-item{
        margin-left: 68px;
    }


}
@media only screen and (max-width:  515px) {

        
    .box-item{
        margin-left: 68px;
    }


}