
.intro-section{
    padding-bottom: 80px;
    .text-img-holder{
        display: flex;
    }
    .text-holder{
        background-color: #f7f9ff;
        flex-basis: 0;
        flex-grow: 1;
        padding-top: 30px;
        .content-wrapper{
            background-color: #fff;
            padding: 64px;
            transform: translateX(-30px);
            padding-bottom: 50px;

        }
        h2{
            font-size: 30px;
            line-height: 1.2em;
            font-weight: 800;
            margin-block-start: 0em;
            margin-block-end: 0em;
        }
        p{
            font-size: 18px;
            line-height: 1.6em;

        }
        .end{
            padding-bottom: 32px;
        }
    }
}
@media only screen and (max-width: 1170px){
    
    .intro-section{
        .container{
            max-width: 586px;
            padding: 0;
        }
        .text-img-holder{
            flex-direction: column;
        }
        .text-holder{
            padding: 30px;
            flex-grow: 2;
            .content-wrapper{
                padding: 32px;
                transform: translateX(0px);
                margin: 30px;
            }
        }
    }
}