.our-team-section-title {
    display: inline-block;
    margin-top: 80px;
    width: 100%;
    max-width: 770px;
    margin-left: 50%;
    padding-bottom: 48px;
    transform: translateX(-50%);
    text-align: center;
    .heading {
        font-size: 36px;
        line-height: 1.25em;
        font-weight: 800;
    }
    .content {
        font-size: 20px;
        line-height: 1.6em;
        margin-top: 8px;
    }
}
.team-box-container {
    display: flex;
    padding-bottom: 48px;

    .team-box-item {
        width: 33.333333%;
    }
    .our-team-image {
        vertical-align: middle;
        margin: 0 auto;
    }

    .our-team-name {
        font-size: 20px;
        line-height: 1.5em;
        font-weight: 800;
    }
    .our-team-position {
        font-size: 14px;
        line-height: 2.2em;
        color: rgba(153, 153, 153, 1);
    }
    .our-team-desc {
        font-size: 18px;
        font-weight: 1.6em;
    }
}

@media only screen and (max-width: 1170px) {
    .team-box-container {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
    }
}
