.service-section-2{
    // height: 782px;
    // position: relative;
    .section-title{
        display: inline-block;
        // position: absolute;
        width: 100%;
        max-width: 512px;
        margin-top: 80px;
        margin-left: 50%;
        transform: translateX(-50%);
        text-align: center;
        .content{
            
            font-size: 18px;
            color: rgba(0, 0, 0, 0.9);
            padding-bottom: 48px;
        }
        .heading{
            font-size: 36px;
            font-weight: 800;
            line-height: 1.25;
        }
        
    }
}
.team-box-container{
    display: flex;
    padding-bottom: 80px;
    gap: 30px;

}
.team-box-item{
    width: 33.33333%;
    .image{
        height: 278px;
        width: 370px;
    }
    .heading{
        font-size: 20px;
        font-weight: 800;
        line-height: 1.56;
    }
    .content{
        font-size: 18px;
        line-height: 1.6;
    }
    .learn-more{
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.25;
        color: rgb(0, 123, 225);
        margin-top: 20px;

    }
    .icon{
        margin-left: 8px;
        height: 8px;
        width: 14px;
    }
    
    
}
@media only screen and (max-width : 1220px){
    .service-section-2{
        width: 60%;
        margin-left: 50%;
        transform: translateX(-50%);

    }
    .team-box-container{
        // margin-top: 212px;
        // height: 490px;
    
    }
    .team-box-item{
        text-align: center;
        .image{
            margin-left: 50%;
            transform: translateX(-50%);
        }
        
    }
    
}