.subscribe-form-wrapper{
    display: flex;
    flex-wrap: wrap;
    .subscribe-form{
        // position: absolute;
        display: inline-block;
        background-color: rgba(255,255, 255, 0.9);
        z-index: 100;
        margin-top: 192px;
        max-width: 470px;
        width: 100%;
        
    }
}
.subscribe-form{
    // position: absolute;
    display: inline-block;
    background-color: rgba(255,255, 255, 0.9);
    z-index: 100;
    margin-top: 192px;
    width: 470px;
    
}
.subscribe-form-container{
    margin: 50px;
    
    .heading{
        display: inline-block;
        font-size: 36px;
        font-weight: 800;
        text-align: left;
        line-height: 1.25em;
    }
    .content{
        margin-block-start: 0.8em;
        margin-block-end: 0em;
        font-size: 20px;
        line-height: 1.6em;
        text-align: left;
    }
    .inputText{
        margin-top: 5px;
        input{
            max-width: 365px;
            width: 100%;
            height: 44px;
            margin-top: 16px;
            font-size: 14px;
            line-height: 1.6x;
            border: solid;
            border-color: rgba(224,224, 224, 1);
            border-width: 1px;
            padding-left: 15px;
            
        }
        // &:focus{
        //     outline: none;
        // }
        
        
    }
    a{
        text-align: center;
        display: block;
        margin-top: 16px;
        width: 100%;
        max-width: 365px;
        margin-bottom: 48px;
        line-height: 48px;
    }
    
}