.subscribe-form{
    // position: absolute;
    display: inline-block;
    background-color: rgba(255,255, 255, 0.9);
    z-index: 100;
    margin-top: 192px;
    width: 470px;
    
}
.subscribe-form-container{
    // max-width: 300px;
    // margin: 0 auto;
    // padding: 0 15px;
    
    .heading{
        display: inline-block;
        margin-left: 50px;
        margin-right: 50px;
        margin-block-start: 1.45em;
        margin-block-end: 0em;
        font-size: 36px;
        font-weight: 800;
        text-align: left;
        line-height: 1.25em;
    }
    .content{
        margin-left: 50px;
        margin-right: 50px;
        margin-block-start: 0.8em;
        margin-block-end: 0em;
        font-size: 20px;
        line-height: 1.6em;
        text-align: left;
    }
    .inputText{
        margin-top: 5px;
        input{
            width: 365px;
            height: 44px;
            margin-top: 16px;
            margin-left: 50px;
            margin-right: 50px;
            font-size: 14px;
            line-height: 1.6x;
            border: solid;
            border-color: rgba(224,224, 224, 1);
            border-width: 1px;
            padding-left: 15px;
            
        }
        // &:focus{
        //     outline: none;
        // }
        
        
    }
    a{
        text-align: center;
        display: block;
        margin-top: 16px;
        margin-left: 50px;
        width: 100%;
        max-width: 370px;
        margin-bottom: 48px;
        line-height: 48px;
    }
    
}