.subscribe-form{
    position: absolute;
    background-color: rgba(225,225, 225, 0.9);
    z-index: 100;
    margin-top: 400px;
    height: 499px;
    width: 470px;
    
}
.subscribe-form-container{
    max-width: 300px;
    margin: 0 auto;
    padding: 0 15px;;
}