.testimonials {
    background-color: rgba(247, 249, 255, 1);
    text-align: center;
    .testimonial-title {
        display: inline-block;
        position: relative;
        font-weight: 800;
        font-size: 14px;
        line-height: 1.3em;
        letter-spacing: 2px;
        margin-top: 80px;
        padding-bottom: 30px;
        text-align: center;
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 30px;
            height: 2px;
            width: 90px;
            background: rgba(0, 123, 255, 1);
            display: block;
        }
    }
    .testimonial-inner-wrapper {
        padding-bottom: 80px;
        width: 100%;
        max-width: 770px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .quotes-carousel {
        .slick-costom-arrow {
            position: absolute;
            transform: translateY(-50%);
            z-index: 100;
            padding: 14.1px 17.8px;
            &:hover {
                cursor: pointer;
                background-color: rgb(0, 123, 255);
            }
            &-right {
                right: -10%;
                top: 50%;
            }
            &-left {
                left: -10%;
                top: 50%;
            }
        }
        .quotes-carousel-content {
            width: 60%;
            margin: 48px 0 auto;
            .quotes {
                padding-bottom: 32px;
            }
            img {
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            .author {
                font-size: 22px;
                line-height: 1.75em;
            }
            .author-position {
                font-size: 16px;
                line-height: 1em;
                padding-bottom: 32px;
            }
        }
    }
}
@media only screen and (max-width: 930px) {
    .testimonials{
        .quotes-carousel {

            .slick-costom-arrow {
                &-right {
                    right: 0;
                    top: 50%;
                }
                &-left {
                    left: 0;
                    top: 50%;
                }
            }
        }
    }
    
}
