button{
    font-size: 12px;
    line-height: 37.5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
.primary-button{
    background-color: rgba(0, 123, 255);
    border: rgba(0, 123, 255);
}
.success-button{
    background-color: rgb(38, 198, 68);
    border: rgb(38, 198, 68);
}