//primary-btn
$primary-btn-color: rgba(0, 123, 255, 1);
$primary-btn-color-border: rgba(0, 123, 255, 1);

//secondary-btn
$success-btn-color:  rgba(38, 198, 68, 1);
$success-btn-color-border: rgba(38, 198, 68, 1);

//color white
$color-white: #fff;